main/data/centroids.csv
main/data/labels.csv
main/data/svm_model
main/obj/
main/bin/
main/datasets.tests
main/datasets.train
main/dwtpy.pyc
steps/clustering/bin/
steps/clustering/data/labels.csv
steps/clustering/data/model.xml
steps/svm/data/
steps/wavelet/bin/
doc/memoria/*aux
doc/memoria/*lof
doc/memoria/*toc
doc/memoria/*log
doc/memoria/*blg
doc/memoria/*lot
doc/memoria/*out
doc/memoria/*backup
doc/memoria/*bbl
doc/memoria/*lol
